body {
    background-color: #F0ECEB;
    font-family: 'Montserrat', sans-serif;
}

/* .dark-mode {
    background-color: black;
    color: white;
} */

#carouselExampleControls {
    opacity: 0.8;
}

img {
    background-size: contain;
}

.navbar-brand:hover {
    background-color:#CCCCCC;
    opacity: 0.5;
}
