body {
    background-color: #F0ECEB;
    font-family: 'Montserrat', sans-serif;
}

/* .dark-mode {
    background-color: black;
    color: white;
} */

#carouselExampleControls {
    opacity: 0.8;
}

img {
    background-size: contain;
}

#postmates-data {
    background-color: aliceblue;
    color: aliceblue;
}

#doordash-data {
    background-color: white;
    color: white;
}

#ubereats-data {
    background-color: lightblue;
    color: lightblue;
}

.navbar-brand:hover {
    background-color:#CCCCCC;
    opacity: 0.5;
}
