{% extends "layout.html" %}

{% block page_content %}

<h1>Favorites page</h1>
{% for data in data %}
          <p>Restaurant: {{ data.restaurant_name }}</p>
          <p>Expensive?: {{ data.pricing }}</p>
          <p>Tags: {{ data.categories }}</p>
          <p>Rating: {{ data.rating }}</p>
          <!-- <p>{{ data.rating_amt }}</p> -->
          <p>Delivery Cost: {{ data.delivery_cost }}</p>
          <p>Delivery Time: {{ data.delivery_time }}</p>

        {% endfor %}
<a href="/">Home</a> <br>

{% endblock %}