{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Food Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
  </head>
  <body>
    <h1>Foodservice homepage</h1>
    <hr />
    <a href="/test">TEST</a> <br>
    <a href="/login">Login Here</a> <br>
    <a href="/signup">Sign Up</a> <br>
    <a href="/about">About Us</a> <br>

    <footer>All Rights Reserved, FoodService 2020</footer>
  </body>
