{% load static %}

<!-- Adding global bootstrap layout -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- top nav -->
  <nav class="navbar navbar-expand-lg navbar-dark mr-auto" style="background-color: #0F4C81">
          <a class="navbar-brand px-4 text-left" style="font-family: 'Merienda One', cursive; font-size: 30px;" href="#"><i class="fa fa-cutlery"></i>FoodFuse</a>
          <div class="navbar-text">
            <a class="navbar-brand px-4" style="font-family: 'Montserrat', sans-serif;" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
            <a class="navbar-brand px-4" style="font-family: 'Montserrat', sans-serif;" href="/about/"><i class="fa fa-info-circle"></i>About Us</a>
            {% if user.is_authenticated %}
            <a class="navbar-brand px-4" style="font-family: 'Montserrat', sans-serif;" href="{% url 'profile' user.username %}"><i class="fa fa-id-card-o"></i>Profile</a> 
            <a class="navbar-brand px-4" style="font-family: 'Montserrat', sans-serif;" href="/logout/"><i class="fa fa-sign-out"></i>Logout</a>
            {% else %}
            <a class="navbar-brand px-4" style="font-family: 'Montserrat', sans-serif;" href="/login/"><i class="fa fa-fw fa-user"></i>Login</a>
            <a class="navbar-brand px-4" style="font-family: 'Montserrat', sans-serif;" href="/signup/">Signup</a>
            {% endif %}
          </div>
  </nav>

<!-- page content -->

{% block page_content %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="bottomNav" style="background-color: #0F4C81; height: 20%; color: white">
  <h3>Technologies</h3>
  <p>Django</p>
  <p>Python</p>
  <p>Selenium</p>
  <p>Bootstrap</p>

</div>