body {
    background-color: #F0ECEB;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* .dark-mode {
    background-color: black;
    color: white;
} */

#carouselExampleControls {
    opacity: 0.8;
}

img {
    background-size: contain;
}

#postmates-data {
    /* background-color: #F39F86; */
    font: black;
    padding: 20px;
    border: 1px solid black;
}

#doordash-data {
    /* background-color: #fff7f6; */
    font: black;
    padding: 20px;
    border: 1px solid black;
}

#ubereats-data {
    /* background-color: #ffa36d; */
    font: black;
    padding: 20px;
    border: 1px solid black;
}

.link-data {
    color: black;
}

.navbar-brand:hover {
    font: #CCCCCC;
    opacity: 0.5;
}

.container {
    font: black
}

#doordash-data {
    float: left;
    width: 33%;
    /* padding: 15px; */

}

#postmates-data {
    float: left; 
    width: 33%;
    /* padding: 15px; */
}

#ubereats-data {
    float: left; 
    width: 33%;
    /* padding: 15px; */
}

#data-page {
    width: 100%;
}

.food-service-data {
    height: 800px;
    overflow-y: scroll;
    background-color: #5ca0f2;
    background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
}

.locationForm {
    width: 300px;
    text-align: center;
    z-index: 1;
}

.locationFormInner {
    position: absolute;
    left: 0;
    right: 0;
    margin: 260px auto 50% auto;
    text-align: center;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.food-button {
    border-radius: 5px;
    background-color: black;
    color: white;
}

.food-button:hover {
    background-color: #C23200;
    color: white;
}

.slogan {
    margin-top: 130px;
}

.locationBtn {
    position: relative;
    text-align: center;
    margin-top: -10px;
}

.searchFormInner {
    position: absolute;
    left: 0;
    right: 0;
    margin: 140px auto 50% auto;
    text-align: center;
    z-index: 1;
}

.searchBtn {
    position: relative;
    text-align: center;
    margin-top: -10px;
}

.dataTop {
    height: 300px;
}

.foodservices {
    display:inline-block;
    margin:0;
    /* min-width:33%;
    height:auto; */
    padding: 10px;
}

.titleFoodServices {
    font-family: 'Montserrat', sans-serif;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
}

.loader > img {
    width: 300px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
#pageloader
{
  background: rgba( 255, 255, 255, 0.8 );
  /* display: none; */
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#pageloader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}

.font-family {
    font-family: 'Montserrat', sans-serif;
}

.food-service-images:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    width: 400px;
}

.uber-logo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    width: 270px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .profile-page-button:hover {
      background-color: black;
      color: white
  }

.profile-img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.about-info {
    color: #696969;
}