body {
    background-color: #F0ECEB;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* .dark-mode {
    background-color: black;
    color: white;
} */

#carouselExampleControls {
    opacity: 0.8;
}

img {
    background-size: contain;
}

#postmates-data {
    background-color: aliceblue;
    font: black;
}

#doordash-data {
    background-color: white;
    font: black;
}

#ubereats-data {
    background-color: lightblue;
    font: black;
}

.navbar-brand:hover {
    font: #CCCCCC;
    opacity: 0.5;
}

.container {
    font: black
}

#doordash-data {
    float: left;
    width: 33%; 

}

#postmates-data {
    float: left; 
    width: 33%;
}

#ubereats-data {
    float: left; 
    width: 33%;
}

#data-page {
    width: 100%;
    overflow-x: scroll;
}

.locationForm {
    width: 300px;
    text-align: center;
    z-index: 1;
}

.locationFormInner {
    position: absolute;
    left: 0;
    right: 0;
    margin: 260px auto 50% auto;
    text-align: center;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.slogan {
    margin-top: 130px;
}

.locationBtn {
    position: relative;
    text-align: center;
    margin-top: -10px;
}

.searchFormInner {
    position: absolute;
    left: 0;
    right: 0;
    margin: 140px auto 50% auto;
    text-align: center;
    z-index: 1;
}

.searchBtn {
    position: relative;
    text-align: center;
    margin-top: -10px;
}

.dataTop {
    height: 300px;
}

.foodservices {
    display:inline-block;
    margin:0;
    /* min-width:33%;
    height:auto; */
    padding: 10px;
}

.titleFoodServices {
    font-family: 'Montserrat', sans-serif;
}