{% extends "layout.html" %}

{% block page_content %}
<div class="font-family">
    <div style="padding: 10px">
        <h1 class="text-center">About</h1>
        <div class="container">
            <div id="carouselContent" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active text-center p-4" style="height: 350px">
                        <h3> FoodFuse is an app created with Django, Python, and Selenium. 
                            The intent of the app is to save money and time, especially 
                            during times of a pandemic. 
                        </h3>
                    </div>
                    <div class="carousel-item text-center p-4" style="height: 350px">        
                        <h3>
                            We all know the frustration of trying to find which app delivers our 
                            favorite restaurant/food. We also know the frustration of trying to 
                            find which app has the cheapest delivery fees and shortest delivery 
                            times. FoodFuse solves all of that.
                        </h3>
                    </div>
                    <div class="carousel-item text-center p-4" style="height: 350px">        
                        <h3>
                            FoodFuse searches and sorts through the 4 major food delivery apps 
                            DoorDash, Uber Eats, Postmates, and Grubhub by the user's location 
                            and returns the data. FoodFuse will provide the users with a 
                            comparison of the delivery fee's and delivery times between each 
                            service so that the user can make an educated choice on which app to
                            use.
                        </h3>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div style="background-color: aliceblue; width: 100%;">
        <h1 class="text-center" style="padding-top: 20px;">Team</h1>
        <div class="text-center" style="display: flex; flex-direction: row; justify-content: center;">
            <div style="padding: 20px">
                <h3>
                    Tanner Leigh
                    <br>
                    <a class="btn btn-bottom" href="https://github.com/thleigh"><i class="icon-github-alt icon-large"></i>&nbsp;Github</a>
                    <a class="btn btn-bottom" href="http://se.linkedin.com/in/tannerhleigh"><i class="icon-linkedin icon-large"></i>&nbsp;LinkedIn</a>
                    <br>
                </h3>
            </div>
            <br>
            <div style="padding: 20px">
                <h3>
                    Cristina Nguyen
                    <br>
                    <a class="btn btn-bottom" href="https://github.com/crnguyen"><i class="icon-github-alt icon-large"></i>&nbsp;Github</a>
                    <a class="btn btn-bottom" href="http://se.linkedin.com/in/cristinanguyen"><i class="icon-linkedin icon-large"></i>&nbsp;LinkedIn</a>
                </h3>
            </div>
        </div>
    </div>

</div>
{% endblock %}