{% extends "layout.html" %}

{% block page_content %}
<div class="font-family">
    <div style="padding: 10px">
        <h1 class="text-center">About</h1>
        <p> FoodFuse is an app created with Django, Python, and Selenium. 
            The intent of the app is to save money and time, especially 
            during times of a pandemic. </p>
        <p>
            We all know the frustration of trying to find which app delivers our 
            favorite restaurant/food. We also know the frustration of trying to 
            find which app has the cheapest delivery fees and shortest delivery 
            times. FoodFuse solves all of that.
        </p>
        <p>
            FoodFuse searches and sorts through the 4 major food delivery apps 
            DoorDash, Uber Eats, Postmates, and Grubhub by the user's location 
            and returns the data. FoodFuse will provide the users with a 
            comparison of the delivery fee's and delivery times between each 
            service so that the user can make an educated choice on which app to
            use.
        </p>
    </div>
    <div style="background-color: aliceblue; width: 100%;">
        <h1 class="text-center">Team</h1>
        <div class="text-center" style="display: flex; flex-direction: row; justify-content: center;">
            <div style="padding: 20px">
                <h3>
                    Tanner Leigh
                    <br>
                    <a class="btn btn-bottom" href="https://github.com/thleigh"><i class="icon-github-alt icon-large"></i>&nbsp;Github</a>
                    <a class="btn btn-bottom" href="http://se.linkedin.com/in/tannerhleigh"><i class="icon-linkedin icon-large"></i>&nbsp;LinkedIn</a>
                    <br>
                </h3>
            </div>
            <br>
            <div style="padding: 20px">
                <h3>
                    Cristina Nguyen
                    <br>
                    <a class="btn btn-bottom" href="https://github.com/crnguyen"><i class="icon-github-alt icon-large"></i>&nbsp;Github</a>
                    <a class="btn btn-bottom" href="http://se.linkedin.com/in/cristinanguyen"><i class="icon-linkedin icon-large"></i>&nbsp;LinkedIn</a>
                </h3>
            </div>
        </div>
    </div>

</div>
{% endblock %}