{% extends "layout.html" %}

{% block page_content %}
<div class="container text-center" id="data-page">
  <div class="dataTop" style="padding: 0px;">
    <div>
      <form action="" method="post" class="searchFormInner">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary searchBtn">Submit</button>
      </form>
    </div>
  </div>
    <h3>Restaurants near you:</h3>
    <div id="doordash-data">
      <h2>DoorDash</h2>
      {% for doordash in doordash %}
      <div class="databox">
        <p>Restaurant: {{ doordash.restaurant_name }}</p>
        <p>Delivery Data: {{ doordash.delivery_cost }} · {{ doordash.delivery_time }}</p>
        <form id="{{doordash.restaurant_name}}{{doordash.delivery_cost}}{{doordash.delivery_time}}" action="/favorites/" method="POST">
          {% csrf_token %}
          <input type="hidden" id="{{doordash.restaurant_name}}{{doordash.delivery_cost}}{{doordash.delivery_time}}" value="{{doordash.restaurant_name}}" name="restaurant">
          <input type="hidden" value="{{doordash.delivery_cost}}" name="delivery_cost">
          <input type="hidden" value="{{doordash.delivery_time}}" name="delivery_time">
          <button type="button" value="{{doordash.restaurant_name}}{{doordash.delivery_cost}}{{doordash.delivery_time}}" class="btn btn-primary doordash-favorites">Add {{ doordash.restaurant_name }} to favorites</button>
        </form>
        <br>
        <br>
      </div> 
      {% endfor %}
    </div>
    <div id="postmates-data">
      <h2>Postmates</h2>
      {% for postmates in postmates %}
        <div class="databox">
          <p>Restaurant: {{ postmates.restaurant_name }}</p>
          <p>Delivery Data: {{ postmates.delivery_data }}</p>
          <!-- <p>Delivery Data: {{ postmates.delivery_cost }} · {{ postmates.delivery_time }}</p> -->
          <!-- <p>Delivery Time: {{ postmates.delivery_time }}</p> -->
          <form id="{{postmates.restaurant_name}}{{postmates.delivery_data}}" action="/favorites/" method="POST">
            {% csrf_token %}
            <input type="hidden" id="{{postmates.restaurant_name}}{{postmates.delivery_data}}" value="{{postmates.restaurant_name}}" name="restaurant">
            <input type="hidden" value="{{postmates.delivery_data}}" name="delivery_data">
            <button type="button" value="{{postmates.restaurant_name}}{{postmates.delivery_data}}" class="btn btn-primary postmates-favorites">Add {{ postmates.restaurant_name }} to favorites</button>
          </form>
          <br>
          <br>
        </div>
      {% endfor %}
    </div>
    <div id="ubereats-data">
      <h2>Uber Eats</h2>
      {% for ubereats in ubereats %}
        <div class="databox">
          <p>Restaurant: {{ ubereats.restaurant_name }}</p>
          <p>Delivery Data: {{ ubereats.delivery_data }}</p>
          <form id="{{ubereats.restaurant_name}}{{ubereats.delivery_data}}" action="/favorites/" method="POST">
            {% csrf_token %}
            <input type="hidden" id="{{ubereats.restaurant_name}}{{ubereats.delivery_data}}" value="{{ubereats.restaurant_name}}" name="restaurant">
            <input type="hidden" value="{{ubereats.delivery_data}}" name="delivery_data">
            <button type="button" value="{{ubereats.restaurant_name}}{{ubereats.delivery_data}}" class="btn btn-primary ubereats-favorites">Add {{ ubereats.restaurant_name }} to favorites</button>
          </form>
          <br>
          <br>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
{% block script %} 

<!-- jquery cdn -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
</script>

<script>
  // ajax call for doordash
  $(".doordash-favorites").on("click", function(evt){
    evt.preventDefault()
    const value = evt.target.value
    const formElements = $("#doordash-data form") 
    let data = null
    for (element of formElements){
      if (element.id === value)
        data = $(element).serializeArray()
    }
    if (data){
      let json = {}
      for (object of data){
        json[object.name] = object.value
      }
      data = json
    }
    // just to assign a user to a favorite
    data.id = 1
    if (!data.location){
      data.location = null
    }

    $.ajax({
      url: "/add_favorite/",
      method: "POST",
      dataType: "json",
      data: JSON.stringify(data)
    }).done(function(data){
      window.location.replace("/favorites/")
    })
  })

  //ajax call for postmates
  $(".postmates-favorites").on("click", function(evt){
    evt.preventDefault()
    const value = evt.target.value
    const formElements = $("#postmates-data form") 
    let data = null
    for (element of formElements){
      if (element.id === value)
        data = $(element).serializeArray()
    }
    if (data){
      let json = {}
      for (object of data){
        json[object.name] = object.value
      }
      data = json
    }
    data.id = 1
    if (!data.location){
      data.location = null
    }

    $.ajax({
      url: "/add_favorite/",
      method: "POST",
      dataType: "json",
      data: JSON.stringify(data)
    }).done(function(data){
      window.location.replace("/favorites/")
    })
  })

//ajax call for ubereats
$(".ubereats-favorites").on("click", function(evt){
    evt.preventDefault() //disables form action
    const value = evt.target.value
    const formElements = $("#ubereats-data form") 
    let data = null
    for (element of formElements){
      if (element.id === value)
        data = $(element).serializeArray()
    }
    if (data){
      let json = {}
      for (object of data){
        json[object.name] = object.value
      }
      data = json
    }
    data.id = 1
    if (!data.location){
      data.location = null
    }

    $.ajax({
      url: "/add_favorite/",
      method: "POST",
      dataType: "json",
      data: JSON.stringify(data)
    }).done(function(data){
      window.location.replace("/favorites/")
    })
  })

</script>

{% endblock %}
