{% extends "layout.html" %}

{% block page_content %}

<div class="container text-center font-family">
  <br>
  <h1>Welcome to your profile, {{ username }} </h1>
  <img class="profile-img" src="https://i.imgur.com/eqIKSty.jpg" width="30%">
  <p class="text-secondary">Click on an option below:</p>

  <form action="/">
    <input class="profile-page-button" type="submit" value="Home" />
  </form>

  <form action="/favorites/">
    <input class="profile-page-button" type="submit" value="Favorites" />
  </form>
 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}