{% extends "layout.html" %}

{% block page_content %}
<div class="container">
    <h1 class="text-left">Restaurant</h1>
    <div>
        <h2>{{ pm.restaurant_name }}</h2>
        <div>
            <h3>Postmates:</h3>
            <p>Delivery Fee: {{ pm.delivery_data }}</p>
            <p>Delivery Time: {{ pm.delivery_time }}</p>
            <!-- <p>{{ pm.address }}</p> -->
        </div>
        <div>
            <h3>Doordash:</h3>
            <p>Delivery Fee: {{ dd.delivery_data }} DELIVERY</p>
            <p>Delivery Time: {{ dd.delivery_time }} MIN</p>
            <!-- <p>{{ dd.address }}</p> -->
        </div>
        <div>
            <h3>Uber Eats:</h3>
            <p>Delivery Fee: {{ ue.delivery_data }} DELIVERY</p>
            <p>Delivery Time: {{ ue.delivery_time }} MIN</p>
            <!-- <p>{{ dd.address }}</p> -->
        </div>
    </div>
</div>
{% endblock %}