{% extends "layout.html" %}

{% block page_content %}

<div class="container text-center font-family">
  <h1>Favorites</h1>
  {% for data in restaurants %}
      <div class="card-content">
        <h3>{{ data.restaurant }}</h3>
        <!-- <p> {{ data.location }}</p> -->
        <p>{{ data.delivery_data }}</p>
      </div>
      <button class="restaurant-delete-button" value="{{ data.id }}">Delete favorite</button>
      <button class="restaurant-update-button" value="{{ data.id }}">Update</button>
      {% endfor %}
      <br>
      <br>
  <a href="/">Home</a> 
</div>

{% endblock %}
{% block script %} 

<!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
</script>

<!-- ajax call for delete view , remove_favorites -->
<script>
$(".restaurant-delete-button").on("click", function(evt){
  const value = evt.target.value
  const data = {id: Number(value), user_id: 1}
  // get button value
  $.ajax({ 
    url: "/remove_favorite/",
    method: "POST",
    dataType: "json",
    data: JSON.stringify(data),
  }).done(function(data){
    console.log(`restaurant deleted:${data}`)
    window.location.replace("/favorites/")
  })

})

</script>
{% endblock %}